/* variables colors The Line */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --primary: rgb(222, 104, 165);
    --secondary: rgb(226, 128, 180);
    --tertiary: rgb(247, 222, 235);
    --quaternary: rgb(91, 99, 230);
    --quinary: rgb(119, 124, 233);
    --senary: rgb(164, 167, 240);
    --dark: rgb(0, 0, 0);
    --light: rgb(255, 255, 255);
    --screen: rgb(247, 249, 253);
}

body {
    margin: 0;
    padding: 0;
}

main {
    background: var(--screen);
}

#navbar {
    background: var(--dark);
    height: 120px;
    font-family: 'Rubik', sans-serif;
}

#user-log-name {
    margin-right: 30px;
}

#user-log-name:hover {
    background-color: var(--secondary);
}
.view-principal{

}
.sidebar-left {
    position: relative;
    width: 260px;
    height: 87vh;
    left: 0px;
    top: calc(50% - 854px/2 + 45px);
    background: linear-gradient(180deg, #A5A6F6 0%, #FFFFFF 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 30px 0px 0px;
}

#team-block {
    padding: 60px;
}

.identification-team {
    position: relative;
    width: 160px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    background: rgba(239, 93, 168, 0.55);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.container>hr {
    border: 1px solid var(--quaternary);
}

.button-actions {
    padding-top: 10px;
    margin: 30px 0px;
}

.button-actions>a {
    width: 180px;
    height: 40px;
    left: 40px;
    top: 315px;
    background: #FCDDEC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}

.button-actions>a:hover {
    border: 3px solid #EF5DA8;
}
.button-help{
    position: relative;
    height: 530px;
    /* padding-top: calc(100vh - 670px); */
    padding-top: 28rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.button-help > a{
    width: 100px;
    background: #A5A6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.button-help>a:hover {
    border: 2px solid #EF5DA8;
}
.footer {
    background: var(--dark);
    font-family: 'Rubik', sans-serif;
    justify-content: space-between;
    display: flex;
    background-color: var(--dark);
    color: var(--light);
    flex-wrap: wrap;
    height: 33px;
    padding-bottom: 12px;
}