<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/loginStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>App The Line +</title>
</head>

<body>
    <div class="login-form">
        <div class="container">
            <div class="row">
                <div>
                    <img src="./assets/TheLine_exteded.jpeg" alt="noImage" class="logo-inicio">
                </div>
            </div>
            <div class="row">
                <form>
                    <div class="container">
                        <div class="mb-4 d-flex justify-content-center">
                            <input type="email" class="form-control w-50 " id="inputEmail" aria-describedby="emailHelp"
                                placeholder="Email">
                        </div>
                        <div class="mb-4 d-flex justify-content-center">
                            <input type="password" class="form-control w-50" id="inputPassword" placeholder="Password">
                        </div>
                        <div id="buttonInicio" class="d-grid gap-2 col-3 mx-auto d-flex justify-content-center">
                            <a href="./home.html" class="btn" type="button">Log in</a>
                        </div>
                        <div class="text-center text-light">
                            <p>Si no tienes acceso, solicita con administración <a href="#" class="anchor-access">aquí</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>